/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Cinzel', serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Allow natural content flow */
  align-items: center;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  height: auto; /* Allow content height to adjust naturally */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
  border: 1px solid #ddd; /* Define the border for the entire content */
  border-radius: 8px; /* Add rounded corners */
  padding: 2rem; /* Add inner spacing */
  margin: 2rem auto; /* Centre it with vertical margin */
  max-width: 1200px; /* Limit the width */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 16px;
}

/* Header */
header {
  text-align: center;
  padding: 2rem;
}

header h1 {
  font-size: 36px;
  font-weight: 700;
}

header span {
  font-weight: 800;
  color: #028152;
}

header #email {
  color: #028152;
}

/*Visitor Counter Container*/
#visitor-counter-container {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

/* Remove borders from individual sections */
section {
  border: none;
  margin-bottom: 1.5rem; /* Keep spacing between sections */
  padding: 0;
}

/* Add separation between sections */
section:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

#section-header {
  font-size: 24px;
}

/* Experience Section */
#experience-section ol {
  list-style: none;
}

#experience-section ol > li {
  border-left: 2px solid #028152;
  padding: 0.5rem 0 0.5rem 1rem;
  position: relative;
}

#experience-section ol > li::before {
  content: ''; /* Keep bullet point circular */
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #028152;
  border-radius: 50%;
}

time {
  font-size: 0.9rem;
  color: #028152;
  margin-right: 0.5rem;
}

/* Certification Section */
#certification-section ul {
  padding-left: 1.3rem;
  list-style: disc;
}

/* Education Section */
#education-section ul {
  padding-left: 1.3rem;
  list-style: disc;
}
